<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Conn1" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=NXJC;Integrated Security=True"/>
    <add name="Conn" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=NXJC;Integrated Security=True"/>
    <!--<add name="ConnNXJC" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=NXJC;Integrated Security=True"/>-->
    <add name="ConnNXJC" connectionString="Data Source=CORPHISH;Initial Catalog=NXJC;Integrated Security=True"/>
    <!--<add name="ConnNXJC" connectionString="Data Source=192.168.186.48;Initial Catalog=NXJC;Integrated Security=False;User Id=sa;Password=111"/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=192.168.101.212;Initial Catalog=NXJC;Integrated Security=False;User Id=sa;Password=nxjcjt@!2015"/>-->
    <!--<add name="ConnNXJC" connectionString="Data Source=192.168.20.4\MSSQLSERVER1;Initial Catalog=ZCSHN;User ID=qqq;Password=123"/>-->
  </connectionStrings>
  <appSettings>
    <!--SetSkins -->
    <!--SetGridViewPageSize -->
    <add key="DefaultPageSize" value="50"/>
    <!--SetStationId -->
    <add key="UserStationId" value="山东恒拓"/>
    <!-- UpLoad File Root Path -->
    <add key="FileRootPath" value="F:\工作\宁夏项目\宁夏项目材料累积\me\报表UI头文件\WebFiles"/>
    <!-- RunTime Selection Interval -->
    <add key="RunTimeInterval" value="3000"/>
    <!-- FactoryMapping-->
    <add key="MainFrame1" value="C:\工作\编程\恒拓软件\三层框架V3\IndustryEnergy\IndustryEnergy.Dal\bin\Debug\IndustryEnergy.Dal.dll,IndustryEnergy.Dal.MainFrame"/>
    <add key="MainFrame" value="C:\工作\恒拓软件\三层框架V3\IndustryEnergy\IndustryEnergy.Dal\bin\Debug\IndustryEnergy.Dal.dll,IndustryEnergy.Dal.MainFrame"/>
    <add key="MaxRecords" value="1000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>